# In this assignment, students will be using the K-nearest neighbors algorithm to predict how many points NBA players scored in the 2013-2014 season.

Download 'nba_2013.csv' file from this link:
https://www.dropbox.com/s/b3nv38jjo5dxcl6/nba_2013.csv?dl=0

Here are some selected columns from the data:
player - name of the player <br>
pos - the position of the player <br>
g - number of games the player was in <br>
gs - number of games the player started <br>
pts - total points the player scored <br>
There are many more columns in the data, mostly containing information about average <br>
player game performance over the course of the season. See this site for an explanation <br>
of the rest of them. <br>
We can read our dataset in and figure out which columns are present:

In [35]:
import pandas
with open("nba_2013.csv", 'r') as csvfile:
    nba= pandas.read_csv(csvfile)
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [36]:
nba.shape

(481, 31)

In [38]:

# Replace NaN values with zeros.
nba = nba.fillna(0)

We can use the principle of euclidean distance to find the most similar NBA players to Lebron James.

In [39]:
nba[nba["player"] == "LeBron James"]

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
225,LeBron James,PF,29,MIA,77,77,2902,767,1353,0.567,...,452,533,488,121,26,270,126,2089,2013-2014,2013

In [40]:
import math

# Select Lebron James from our dataset


selected_player = nba[nba["player"] == "LeBron James"].iloc[0]

# Choose only the numeric columns (we'll use these to compute euclidean distance)

distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

def euclidean_distance(row):
    """
    A simple euclidean distance function
    """
    inner_value = 0
    for k in distance_columns:
        inner_value += (row[k] - selected_player[k]) ** 2
    return math.sqrt(inner_value)

# Find the distance from each player in the dataset to lebron.
lebron_distance = nba.apply(euclidean_distance, axis=1)

lebron_distance

0      3475.792868
1      3148.395020
2      3161.567361
3      1189.554979
4      3216.773098
5      3919.277251
6       960.443178
7      3131.071083
8      2326.129199
9      2806.955657
10     2277.933945
11     4083.902230
12     2819.058890
13     2534.074598
14     1970.085795
15     3262.065464
16     2451.378405
17      485.856006
18     4096.585451
19     3246.515831
20     1539.172839
21     4162.749727
22     2969.043638
23     3259.582822
24     2023.603985
25     3815.822230
26     3326.666522
27     4149.198445
28     3754.041967
29     3835.882699
          ...
451     716.243023
452    2996.450583
453    4135.156714
454    3023.456473
455    4138.570811
456    4258.518608
457    2206.524879
458    1347.758158
459    2136.309449
460    4260.053965
461    4261.181149
462    1922.713718
463    2364.771676
464    3033.755934
465    2625.998112
466    2495.296784
467    2232.354830
468    4244.598517
469    3525.434026
470    3574.911070
471    2873.509019
472    3831.629171
473    2956.152426
474    4124.384593
475    3230.143973
476    1948.158130
477    1851.909840
478     949.668916
479    2699.963932
480    3075.753429
Length: 481, dtype: float64

# Normalizing columns

A variable having larger values doesnâ€™t necessarily make it better at predicting what rows are similar.
<br>

A simple way to deal with this is to normalize all the columns to have a mean of 0, and a standard deviation of 1. This will ensure that no single column has a dominant impact on the euclidean distance calculations.
<br>
To set the mean to 0, we have to find the mean of a column, then subtract the mean from every value in the column. To set the standard deviation to 1, we divide every value in the column by the standard deviation. The formula is $latex x=\frac{x-\mu}{\sigma}$.

In [41]:
# Select only the numeric columns from the NBA dataset
nba_numeric = nba[distance_columns]
# Normalize all of the numeric columns
nba_normalized = (nba_numeric - nba_numeric.mean()) / nba_numeric.std()

In [42]:
nba_normalized.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,-0.835906,0.384886,-0.862207,-0.435088,-0.738401,-0.768505,0.325957,-0.700282,-0.716608,0.120520,...,-0.151926,0.260690,-0.129462,-0.013116,-0.645220,-0.468056,0.061410,-0.667650,0.226515,-0.734621
1,-1.550487,1.095711,-0.187863,-0.045011,-0.581271,-0.649215,0.667749,-0.778936,-0.829601,-1.390497,...,-0.522588,1.387883,0.187020,0.565852,-0.530733,0.020680,1.065446,-0.013760,1.363938,-0.534801
2,0.116868,-0.010016,-0.457600,-0.308035,-0.290291,-0.405214,0.833763,-0.778936,-0.829601,-1.390497,...,-0.250457,0.743773,0.283340,0.436083,-0.568895,-0.439307,0.385292,-0.524113,0.029924,-0.328603
3,0.355062,0.779789,1.599148,1.465144,1.577804,1.590172,0.238067,1.737992,1.430256,1.027130,...,0.575320,-0.383420,0.462221,0.216475,1.033919,-0.123066,-0.683520,1.182380,0.423107,1.729123
4,-0.359519,0.108454,0.149309,-0.319180,-0.331028,-0.475703,1.087666,-0.778936,-0.822068,-1.390497,...,0.673851,0.614951,0.138859,0.291341,-0.553630,-0.468056,0.709175,-0.141348,1.139262,-0.400878

# Finding the nearest neighbor

We now know enough to find the nearest neighbor of a given row in the NBA dataset. 
<br>
We can use the distance.euclidean function from scipy.spatial, a much faster way to calculate euclidean distance.

In [43]:
from scipy.spatial import distance

# Fill in NA values in nba_normalized
nba_normalized.fillna(0, inplace=True)

# Find the normalized vector for lebron james.
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]

# Find the distance between lebron james and everyone else.
euclidean_distances = nba_normalized.apply(lambda row: distance.euclidean(row, lebron_normalized), axis=1)

# Create a new dataframe with distances.
distance_frame = pandas.DataFrame(data={"dist": euclidean_distances, "idx": euclidean_distances.index})
distance_frame.sort_values("dist", inplace=True)


# Find the most similar player to lebron (the lowest distance to lebron is lebron, the second smallest is the most similar non-lebron player)
second_smallest = distance_frame.iloc[1]["idx"]
most_similar_to_lebron = nba.loc[int(second_smallest)]["player"]

# Generating training and testing sets

Now that we know how to find the nearest neighbors, we can make predictions on a test set. 
Weâ€™ll try to predict how many points a player scored using the 5 closest neighbors. 
Weâ€™ll find neighbors by using all the numeric columns in the dataset to generate similarity scores.

First, we have to generate test and train sets. In order to do this, weâ€™ll use random sampling. 
Weâ€™ll randomly shuffle the index of the nba dataframe, and then pick rows using the randomly shuffled values.

If we didnâ€™t do this, weâ€™d end up predicting and training on the same data set, which would overfit. 
We could do cross validation also, which would be slightly better, but slightly more complex.

In [44]:
import random
from numpy.random import permutation

# Randomly shuffle the index of nba.
random_indices = permutation(nba.index)

# Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
test_cutoff = math.floor(len(nba)/3)

# Generate the test set by taking the first 1/3 of the randomly shuffled indices.
test = nba.loc[random_indices[1:test_cutoff]]

# Generate the train set with the rest of the data.
train = nba.loc[random_indices[test_cutoff:]]

# Using sklearn for k nearest neighbors

Instead of having to do it all ourselves, we can use the k-nearest neighbors implementation in scikit-learn. 
Hereâ€™s the documentation. Thereâ€™s a regressor and a classifier available, but weâ€™ll be using the regressor, 
as we have continuous values to predict on.

Sklearn performs the normalization and distance finding automatically, 
and lets us specify how many neighbors we want to look at.

In [48]:
from sklearn.neighbors import KNeighborsRegressor

# The columns that we will be making predictions with.
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']
# The column that we want to predict.
y_column = ['pts']

# Create the knn model.
knn = KNeighborsRegressor(n_neighbors=5)

# Fit the model on the training data.
knn.fit(train[x_columns], train[y_column])
# Make point predictions on the test set using the fit model.
predictions = knn.predict(test[x_columns])

# Computing error
Now that we know our point predictions, we can compute the error involved with our predictions. 

We can compute mean squared error. The formula is $latex \frac{1}{n}\sum_{i=1}^{n}(\hat{y_{i}} â€“ y_{i})^{2} $.

In [46]:
# Get the actual values for the test set.
actual = test[y_column]

# Compute the mean squared error of our predictions.
mse = (((predictions - actual) ** 2).sum()) / len(predictions)
mse

pts    5908.207044
dtype: float64